@{
    ViewData["Title"] = "Panel asesor";
}


@model Pacientqueue;

<div class="row">
    <div class="col-7 d-flex align-items-center" >
        <div class="card shadow-sm col-12 ">
            <div class="card-header bg-dark text-white text-center">
                Información del usuario
            </div>
            <div class="card-body shadow-sm"> 
                <form  class="row" asp-controller="UsersAgent" asp-action="Createp" method="post">
                    <div class="mb-3 col-6">
                        <label class="form-label" >Nombre:</label>
                        <input id="FirstName" type="text" class="form-control" asp-for="FirstName" aria-describedby="Nombre">
                    </div>
                    <div class="mb-3 col-6">
                        <label class="form-label" >Apellidos</label>
                        <input type="text" asp-for="LastName" class="form-control" aria-describedby="Apellidos" id="LastName">
                    </div>
                    <div class="mb-3 col-6">
                        <label class="form-label" ></label>Documento</label>
                        <input type="text" class="form-control" aria-describedby="Document" id="Document" asp-for="Document">
                    </div>
                    <div class="mb-3 col-3">
                        <label class="form-label">Turno</label>
                        <input type="text" class="form-control" id="AssignedShift" aria-describedby="Turno" asp-for="AssignedShift" >
                    </div>
                    <div class="mb-3 col-3">
                        <label class="form-label">Eps</label>
                        <input type="text" class="form-control" aria-describedby="Turno" id="Eps" asp-for="Eps" >
                    </div>
                    <div class="mb-3 col-6">
                        <label class="form-label">Servicio</label>
                        <input type="text" class="form-control" id="ServiceName" asp-for="ServiceName" aria-describedby="Servicio">
                    </div>
                    <div class="mb-3 col-6">
                        <label class="form-label">Address</label>
                        <input type="text" class="form-control" aria-describedby="Servicio" id="Address" asp-for="Address">
                    </div>
                    <div class="mb-3 col-6"> 
                        <label class="form-label" for="Gender">Género</label>
                        <select class="form-select" id="Gender" asp-for="Gender">
                            <option value="">Gender</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="other">Otro</option>
                        </select>
                    </div>
                    <div class="mb3 col-6">
                        <label class="form-label">Teléfono</label>
                        <input type="text" class="form-control" aria-describedby="Servicio"  id="PhoneNumber" asp-for="PhoneNumber">
                    </div>
                    
                    <div class="mt-4 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary mt-2" @((Model.IsRegistered) ? "disabled" : "")>Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-5 border shadow-sm" >
        <div class="row d-flex justify-content-center">
            <div class="col-12 d-flex justify-content-center">
                @if (Model != null)
                    {
                        @if (Model.Calls == 0)
                        {
                            <a onclick="marcarLlamado('@Model.Id')" class="btn btn-primary mt-2 p-4" asp-controller="UsersAgent" asp-action="IncrementarCalls" asp-route-id="@Model.Id">Primer Llamado</a>
                            <a onclick="marcarSiguiente()" class="btn btn-primary mt-2 p-4">Siguiente paciente</a>
                        }
                        else if (Model.Calls == 1)
                        {
                            <a onclick="marcarLlamado('@Model.Id')" class="btn btn-primary mt-2 p-4" asp-controller="UsersAgent" asp-action="IncrementarCalls" asp-route-id="@Model.Id">Segundo Llamado</a>
                            <a onclick="marcarSiguiente()" class="btn btn-primary mt-2 p-4">Siguiente paciente</a>
                        }
                        else if (Model.Calls == 2)
                        {
                            <script>
                                setTimeout(function() {
                                    // Después de 20 segundos, si el estado sigue siendo "En espera", se marca como "Ausente"
                                    if ('@Model.Status' === 'En espera') {
                                        marcarAusente('@Model.Id');
                                    }
                                }, 20000);
                            </script>
                            <a onclick="marcarSiguiente()" class="btn btn-primary mt-2 p-4">Siguiente paciente</a>
                        }
                    }
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-5">
            <form class="text-center" method="post">
                <div class="row d-flex justify-content-center mt-5">
                    <div class="col-8">
                        <select class="form-select">
                            <option value="" selected disabled>Estado</option>
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                            <option value="Break">Break</option>
                            <option value="Baño">Baño</option>
                        </select>
                        <button class="btn  btn-success ms-4 rounded shadow-sm " type="button">Cambiar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @if(Model.IsRegistered){
        <script>
            document.getElementById("FirstName").setAttribute("disabled",true);
            document.getElementById("LastName").setAttribute("disabled",true);
            document.getElementById("Document").setAttribute("disabled",true);
            document.getElementById("Eps").setAttribute("disabled",true);
            document.getElementById("AssignedShift").setAttribute("disabled",true);
            document.getElementById("ServiceName").setAttribute("disabled",true);
            document.getElementById("Address").setAttribute("disabled",true);
            document.getElementById("PhoneNumber").setAttribute("disabled",true);
            document.getElementById("Gender").setAttribute("disabled",true)
        </script>
    }
</div>

