@{
    ViewBag.Title ="Empleados";
}



<div class="containerEmployees">
    <div class="title d-flex justify-content-center">
        <h1>Empleados</h1>
    </div>
    <div class="table">
        <table  class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th>Número de telefono</th>
                    <th>Estado</th>
                    <th>Cambio de Skills</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Employee in Model){
                    <tr>
                        <td>@Employee.Id</td>
                        <td>@Employee.FirstName</td>
                        <td>@Employee.LastName</td>
                        <td>@Employee.Email</td>
                        <td>@Employee.PhoneNumber</td>
                        <td>@Employee.Status</td>
                      <form action="@Url.Action("ChangeSkills","UsersAdmin")" method="post">
                          <td>
                            <input type="checkbox" name="Am" id="Checkbox_Am">
                            <label class="form-check-label">Am</label> @*Am= Autorización de Medicamentos*@

                            <input type="checkbox" name="Pf" id="Checkbox_Pf">
                            <label class="form-check-label">Pf</label> @*Pf= pago de Facturas*@

                            <input type="checkbox" name="Inf" id="Checkbox_Inf">
                            <label class="form-check-label">Inf</label> @*Inf= Información general*@

                            <input type="checkbox"name="Cm" id="Checkbox_Cm">
                            <label class="form-check-label">Cm</label> @*Cm= Citas Medicas*@
                            <button class="btn btn-sm btn-primary" type="submit">Enviar</button>
                        </td>
                      </form>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>