@{
    ViewBag.title ="Colas - MSC";
}
<div class="containerQueues">
    <div class="title d-flex justify-content-center">
        <h1>Colas</h1>
    </div>
    <div class="table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User Id</th>
                    <th>Turno Id</th>
                    <th>Estado</th>
                    <th>Turno asignado</th>
                    <th>Fecha de creación</th>
                    <th>Tiempo de asignación</th>
                    <th>Hora de cierre</th>
                    <th>Llamadas</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var Queue in Model){
                    <tr>
                        <td>@Queue.Id</td>
                        <td>@Queue.UserId</td>
                        <td>@Queue.ShiftId</td>
                        <td>@Queue.Status</td>
                        <td>@Queue.AssignedShift</td>
                        <td>@Queue.CreationDate</td>
                        <td>@Queue.AssignmentTime</td>
                        <td>@Queue.ClosingTime</td>
                        <td>@Queue.Calls</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>